/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [CarRental]    Script Date: 14-Mar-18 11:51:43 PM ******/
CREATE DATABASE [CarRental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CarRental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CarRental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRental]
GO
USE [CarRental]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 14-Mar-18 11:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[contractNo] [int] IDENTITY(0,1) NOT NULL,
	[empNo] [int] NOT NULL,
	[customerNo] [int] NOT NULL,
	[VIN] [nvarchar](50) NOT NULL,
	[pickupDate] [date] NOT NULL,
	[pickupTime] [time](7) NOT NULL,
	[returnDate] [date] NOT NULL,
	[returnTime] [time](7) NOT NULL,
	[discount] [float] NULL,
	[cost] [money] NULL,
	[odoReadingOutbound] [int] NOT NULL,
	[odoReadingInbound] [int] NULL,
	[observationsOut] [nvarchar](300) NULL,
	[observationsIn] [nvarchar](300) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 14-Mar-18 11:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customerNo] [int] IDENTITY(0,1) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[streetNo] [int] NOT NULL,
	[streetName] [nvarchar](50) NOT NULL,
	[steetPostcode] [int] NOT NULL,
	[residencySuburb] [nvarchar](50) NOT NULL,
	[residencyState] [nchar](10) NOT NULL,
	[mobPhone] [int] NOT NULL,
	[creditCardNo] [int] NOT NULL,
	[creditCardName] [nvarchar](50) NOT NULL,
	[creditCardType] [nvarchar](50) NOT NULL,
	[creditCardExp] [date] NOT NULL,
	[driverLicenceNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customerNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 14-Mar-18 11:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[empNo] [int] IDENTITY(0,1) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[mobPhone] [int] NOT NULL,
	[homePhone] [int] NULL,
	[streetAddr] [nvarchar](50) NOT NULL,
	[streetPostcode] [nchar](10) NOT NULL,
	[residencySuburb] [nvarchar](50) NOT NULL,
	[residencyState] [nchar](10) NOT NULL,
	[driverLicenceNo] [nchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[empNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle_Services]    Script Date: 14-Mar-18 11:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle_Services](
	[serviceNo] [int] IDENTITY(0,1) NOT NULL,
	[VIN] [nchar](10) NOT NULL,
	[serviceDate] [date] NOT NULL,
	[serviceChanges] [nvarchar](300) NOT NULL,
	[odoReading] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[serviceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 14-Mar-18 11:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VIN] [nvarchar](17) NOT NULL,
	[manufacturer] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[colour] [nvarchar](50) NOT NULL,
	[transmissionType] [nchar](10) NOT NULL,
	[odoCurrent] [int] NOT NULL,
	[fuelType] [nvarchar](50) NOT NULL,
	[regoNo] [nchar](10) NOT NULL,
	[regoExp] [date] NOT NULL,
	[dailyRate] [money] NOT NULL,
	[hourlyRate] [money] NOT NULL,
	[observations] [nvarchar](300) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([contractNo], [empNo], [customerNo], [VIN], [pickupDate], [pickupTime], [returnDate], [returnTime], [discount], [cost], [odoReadingOutbound], [odoReadingInbound], [observationsOut], [observationsIn]) VALUES (1, 4, 0, N'51324584', CAST(N'2018-02-10' AS Date), CAST(N'12:00:00' AS Time), CAST(N'2018-03-03' AS Date), CAST(N'12:00:00' AS Time), NULL, NULL, 4500, 5101, N'None.', N'Scratches above the back left wheel panel.')
INSERT [dbo].[Contracts] ([contractNo], [empNo], [customerNo], [VIN], [pickupDate], [pickupTime], [returnDate], [returnTime], [discount], [cost], [odoReadingOutbound], [odoReadingInbound], [observationsOut], [observationsIn]) VALUES (2, 4, 2, N'54617894', CAST(N'2018-01-14' AS Date), CAST(N'12:00:00' AS Time), CAST(N'2018-01-28' AS Date), CAST(N'12:00:00' AS Time), NULL, NULL, 10558, 12178, N'None.', N'Dents in front bumper.')
INSERT [dbo].[Contracts] ([contractNo], [empNo], [customerNo], [VIN], [pickupDate], [pickupTime], [returnDate], [returnTime], [discount], [cost], [odoReadingOutbound], [odoReadingInbound], [observationsOut], [observationsIn]) VALUES (3, 0, 3, N'54617894', CAST(N'2018-02-28' AS Date), CAST(N'12:00:00' AS Time), CAST(N'2018-03-28' AS Date), CAST(N'12:00:00' AS Time), NULL, NULL, 9999999, 9999999, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contracts] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([customerNo], [firstName], [lastName], [streetNo], [streetName], [steetPostcode], [residencySuburb], [residencyState], [mobPhone], [creditCardNo], [creditCardName], [creditCardType], [creditCardExp], [driverLicenceNo]) VALUES (0, N'John', N'Smith', 123, N'Fake Street', 4541, N'Fakurb', N'WA        ', 45465465, 23155748, N'John M. Smith', N'RasterCard', CAST(N'2019-10-01' AS Date), 32158544)
INSERT [dbo].[Customers] ([customerNo], [firstName], [lastName], [streetNo], [streetName], [steetPostcode], [residencySuburb], [residencyState], [mobPhone], [creditCardNo], [creditCardName], [creditCardType], [creditCardExp], [driverLicenceNo]) VALUES (2, N'Sarah', N'Notreal', 7, N'Roe Road', 6565, N'Mayswater', N'WA        ', 478774561, 23456654, N'Sarah J. Notreal', N'RasterCard', CAST(N'2022-01-01' AS Date), 23161654)
INSERT [dbo].[Customers] ([customerNo], [firstName], [lastName], [streetNo], [streetName], [steetPostcode], [residencySuburb], [residencyState], [mobPhone], [creditCardNo], [creditCardName], [creditCardType], [creditCardExp], [driverLicenceNo]) VALUES (3, N'Alex', N'Allens', 47, N'Hugh Ave', 6884, N'Woonana', N'WA        ', 488541547, 36544875, N'Alex R. Allens', N'Merican Expresso', CAST(N'2020-05-01' AS Date), 42458445)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([empNo], [firstName], [lastName], [mobPhone], [homePhone], [streetAddr], [streetPostcode], [residencySuburb], [residencyState], [driverLicenceNo]) VALUES (0, N'Timothy', N'Rumm', 423312484, NULL, N'56B Roe Road', N'6565      ', N'Mayswater', N'WA        ', N'64552163  ')
INSERT [dbo].[Employees] ([empNo], [firstName], [lastName], [mobPhone], [homePhone], [streetAddr], [streetPostcode], [residencySuburb], [residencyState], [driverLicenceNo]) VALUES (1, N'Sally', N'Rich', 465658842, 98795121, N'12A Babbel Street', N'6883      ', N'Wollinon', N'WA        ', N'45456461  ')
INSERT [dbo].[Employees] ([empNo], [firstName], [lastName], [mobPhone], [homePhone], [streetAddr], [streetPostcode], [residencySuburb], [residencyState], [driverLicenceNo]) VALUES (4, N'Carl', N'Consta', 456785152, NULL, N'56 Lori Ave', N'6884      ', N'Woonana', N'WA        ', N'78654851  ')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Vehicle_Services] ON 

INSERT [dbo].[Vehicle_Services] ([serviceNo], [VIN], [serviceDate], [serviceChanges], [odoReading]) VALUES (1, N'54617894  ', CAST(N'2017-06-20' AS Date), N'Tyre and oil change.', 10000)
INSERT [dbo].[Vehicle_Services] ([serviceNo], [VIN], [serviceDate], [serviceChanges], [odoReading]) VALUES (4, N'61323125  ', CAST(N'2017-06-12' AS Date), N'Oil change.', 10000)
INSERT [dbo].[Vehicle_Services] ([serviceNo], [VIN], [serviceDate], [serviceChanges], [odoReading]) VALUES (6, N'61323125  ', CAST(N'2018-01-24' AS Date), N'Tyre change. Axis re-aligned.', 20000)
SET IDENTITY_INSERT [dbo].[Vehicle_Services] OFF
INSERT [dbo].[Vehicles] ([VIN], [manufacturer], [model], [colour], [transmissionType], [odoCurrent], [fuelType], [regoNo], [regoExp], [dailyRate], [hourlyRate], [observations]) VALUES (N'51324584', N'Cord', N'Ranger', N'Red', N'Manual    ', 5101, N'Unleaded', N'1NTH156   ', CAST(N'2020-01-01' AS Date), 56.5000, 5.5000, N'Scratches above the back left wheel panel.')
INSERT [dbo].[Vehicles] ([VIN], [manufacturer], [model], [colour], [transmissionType], [odoCurrent], [fuelType], [regoNo], [regoExp], [dailyRate], [hourlyRate], [observations]) VALUES (N'54617894', N'Witsubishi', N'Triton', N'Black', N'Manual    ', 12178, N'Diesel', N'5ASD285   ', CAST(N'2022-10-01' AS Date), 68.2000, 6.8000, N'Dents in front bumper.')
INSERT [dbo].[Vehicles] ([VIN], [manufacturer], [model], [colour], [transmissionType], [odoCurrent], [fuelType], [regoNo], [regoExp], [dailyRate], [hourlyRate], [observations]) VALUES (N'61323125', N'Yoyota', N'Prius', N'White', N'Automatic ', 21584, N'Diesel', N'3QMU249   ', CAST(N'2019-12-01' AS Date), 48.0000, 4.8000, N'Side mirror controls not working.')
USE [master]
GO
